%h2
  =t(".twitter_account")

- if current_group.has_twitter_oauth?
  %p
    =raw t(".legend_with_account", :twitter_account => current_group.twitter_account["screen_name"],  :link =>  manage_social_path(:tab=>"post_to_twitter"))

  .field
    %label
      = link_to t(".connect_to_other_twitter"), group_twitter_request_token_path

  %p
    = t('global.or')
  .filed
    %label.label
      = link_to t(".disconnect_twitter_group"), disconnect_twitter_group_path
- else
  %small
    =t(".legend")
  .filed
    %label.label
      = link_to t(".connect_to_twitter"), group_twitter_request_token_path