body  {
  font-family:arial;
  margin-top:30px;
}

* {
    outline: none;
}

.clear{clear:both}
.left{float:left}
.p5{padding:5px}
.pt10{padding-top:10px}
.pl15{padding-left:15px}
.pl100{padding-left:100px}
.master{width:958px;margin-right:auto;margin-left:auto;}

.master-logo-holder{width:479px;height:238px;background-color:White;float:left}
.master-logo-holder .logo{padding:0px 30px 0px 20px;float:left;margin-top:-117px}
.master-logo-holder .menu{float:left;padding-top:6px;margin-top:-117px}
.master-logo-holder .menu ul {margin: 0;margin-left:2px;padding: 0px 0px 0px 0px;list-style: none;line-height: 16px;}
.master-logo-holder .menu ul li a{color:#b6b4b4;font-family:Arial;font-size:11px;text-decoration:none;padding-left:10px;padding-right:10px;margin-left:-10px}
.master-logo-holder .menu ul li a:hover{color:white;font-family:Arial;font-size:11px;text-decoration:none;background-color:#009fe3;width:200px;padding-left:10px;padding-right:10px;margin-left:-10px}

.master-black-hole{width:479px;height:238px;float:left;background-image:url('Global/blackhole.png');}
.master-black-hole .text{font-family:'Open Sans', sans-serif;font-size:30px;color:White;width:122px;padding:31px  105px 0px 30px;float:left;line-height:36px}
.master-black-hole .money{float:left;font-family:'Open Sans', sans-serif;font-size:45px;color:White;width:205px;padding-top:95px;text-align:center}

.home-left{float:left;padding-top:14px}
.home-left a{text-decoration:none}
.home-right{float:left}


.home-bluebox{width:230px;height:200px;background-image:url('home/bluebox.png');background-repeat:no-repeat;margin:0px 0px 11px 12px}
.home-bluebox-last{width:230px;height:200px;background-image:url('home/bluebox.png');background-repeat:no-repeat;margin:0px 0px 0px  0px}
.home-bluebox .img{text-align:center;padding-bottom:20px}
.home-bluebox .title{text-align:center;font-family:'Open Sans', sans-serif;font-size:24px;color:White;font-weight:bold;line-height:29px}
.home-bluebox .text{text-align:center;font-family:'Open Sans', sans-serif;font-size:14px;color:White;padding-top:22px}
.home-bluebox .img-big{text-align:center;padding-bottom:10px}
.home-bluebox .text-big{text-align:center;font-family:'Open Sans', sans-serif;font-size:14px;color:White;padding-top:8px}

.home-bluebox-last .img{text-align:center;padding-bottom:20px}
.home-bluebox-last .img-big{text-align:center;padding-bottom:10px}
.home-bluebox-last .title{text-align:center;font-family:'Open Sans', sans-serif;font-size:24px;color:White;font-weight:bold;line-height:29px}
.home-bluebox-last .text{text-align:center;font-family:'Open Sans', sans-serif;font-size:14px;color:White;padding-top:22px}


.home-bluebox-over{width:230px;height:200px;background-image:url('home/blueboxover.png');background-repeat:no-repeat;margin:0px  0px 11px  12px}
.home-bluebox-last-over{width:230px;height:200px;background-image:url('home/blueboxover.png');background-repeat:no-repeat;margin:0px 0px  0px 0px}

.home-bluebox-over .img{text-align:center;padding-bottom:20px}
.home-bluebox-over .title{text-align:center;font-family:'Open Sans', sans-serif;font-size:24px;color:White;font-weight:bold;line-height:29px}
.home-bluebox-over .text{text-align:center;font-family:'Open Sans', sans-serif;font-size:14px;color:White;padding-top:22px}
.home-bluebox-over .img-big{text-align:center;padding-bottom:10px}
.home-bluebox-over .text-big{text-align:center;font-family:'Open Sans', sans-serif;font-size:14px;color:White;padding-top:8px}
.home-bluebox-last-over .img{text-align:center;padding-bottom:20px}
.home-bluebox-last-over .img-big{text-align:center;padding-bottom:10px}
.home-bluebox-last-over .title{text-align:center;font-family:'Open Sans', sans-serif;font-size:24px;color:White;font-weight:bold;line-height:29px}
.home-bluebox-last-over .text{text-align:center;font-family:'Open Sans', sans-serif;font-size:14px;color:White;padding-top:22px}



.home-bottom{padding-top:8px}
.home-video{padding-top:14px;width:715px;height:414px}
.footer{text-align:center;color:#8c8b8b;font-size:12px;font-family:Arial;background-image:url('Global/footer.png');background-repeat:repeat-x;line-height:37px}
.footer a{color:#8c8b8b;font-size:12px;text-decoration:none;font-family:Arial}
.footer a:hover{text-decoration:underline}
.social{margin-left:-36px;width:36px;height:111px;background-image:url('Global/social.png');margin-top:16px}
.social .fb{padding-top:11px;padding-left:6px;}
.social .tw{padding-top:11px;padding-left:6px;}
.social .mail{padding-top:11px;padding-left:8px;}


.content{width:920px;background-color:White;margin-top:28px;margin-bottom:26px;padding:31px 31px 31px 31px}
.content h1{margin:0px;font-family:'Open Sans', sans-serif;font-size:24px;color:#009fe3;margin-top:-7px}
.content .subtext{font-family:'Open Sans', sans-serif;font-size:16px;color:#010100;line-height:18px;padding-top:10px}
.content .text{font-family:Arial;font-size:12px;color:#444444;line-height:20px;padding-top:25px}
.content .readmore{font-family:'Open Sans', sans-serif;font-size:16px;color:#009fe3;font-weight:bold;line-height:54px;height:52px;margin-top:44px;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5}
.content .readmore .starts{float:left;padding-top:3px}
.content .readmore .txt{float:left;padding-left:7px;padding-right:7px}
.content .readmore .link{padding-left:10px;float:left}
.content .readmore .link a{color:#010100;font-size:12px;font-weight:normal;}

.sxetika-icon{background-image:url('icons/sxetika.png');background-repeat:no-repeat;background-position:left center;padding:0px;padding-left:43px}
.dikaiomata-icon{background-image:url('icons/dikaiomata.png');background-repeat:no-repeat;background-position:left center;padding:0px;padding-left:43px;line-height:40px}
.goodnews-icon{background-image:url('icons/goodnews.png');background-repeat:no-repeat;background-position:left center;padding:0px;padding-left:43px;line-height:40px}
.protoimediafora-icon{background-image:url('icons/protoimediafora.png');background-repeat:no-repeat;background-position:left bottom;padding:0px;padding-left:63px;line-height:40px}
.exeisimvikaisemena-icon{background-image:url('icons/exeisymvikaisemena.png');background-repeat:no-repeat;background-position:left center;padding:0px;padding-left:63px;line-height:63px;height:44px;}

.kataggelies-filter {
    background-image:url('diafthora/filter-rptbg.png');
    background-repeat:repeat-x;
    width:1120px;
    padding:0px 31px 0px 31px;
    line-height:52px;
    margin-top:22px;
    margin-bottom:-38px;
    height:64px
}

.kataggelies-filter .pointerbg{color:#a1a1a2;font-family:Arial;font-size:11px;font-weight:bold;float:left;background-image:url('diafthora/filter-pointer.png');height:67px;background-repeat:no-repeat}
.kataggelies-filter .filter-ddl{padding-left:10px;}
.kataggelies-filter .filter-btn{padding-top:8px;padding-left:10px}

.content .kataggelies .title{font-family:'Open Sans', sans-serif;font-size:25px;color:White;background-color:#009fe3;line-height:40px;padding-left:23px;width:617px;margin-right:20px;float:left}
.content .kataggelies .title-small{font-family:'Open Sans', sans-serif;font-size:18px;color:White;line-height:43px;float:left;width:233px;height:54px}
.content .kataggelies .title-small .asked{font-family:'Open Sans', sans-serif;font-size:16px;color:White;padding-left:50px}
.content .kataggelies .title-small .given{font-family:'Open Sans', sans-serif;font-size:16px;color:White;padding-left:25px}
.content .kataggelies .grid-bg{background-image:url('diafthora/smalltitle.png');background-repeat:no-repeat;}

.content .kataggelies .grid {width:913px;height:500px;overflow-x:hidden}
.content .kataggelies .grid .incidents{width:640px;height:106px;background-color:#f7f7f7;margin-right:20px;float:left;margin-bottom:23px}
.content .kataggelies .grid .money{width:233px;height:106px;background-color:#f7f7f7;float:left;margin-bottom:23px}
.content .kataggelies .grid .money .asked{font-family:'Open Sans', sans-serif;font-size:24px;color:black;margin-left:50px;display:block;float:left;width:80px;text-align:center;line-height:40px;padding-top:30px}
.content .kataggelies .grid .money .given{font-family:'Open Sans', sans-serif;font-size:24px;color:black;display:block;float:left;margin-left:13px;width:85px;text-align:center;line-height:38px;padding-top:30px}
.content .kataggelies .grid .incidents .categories{color:#009fe3;font-size:13px;font-family:Arial;padding-top:13px;padding-left:23px}
.content .kataggelies .grid .incidents .categories a{color:#009fe3;font-size:13px;font-family:Arial;text-decoration:none}

.content .kataggelies .grid .incidents .descr {
    color:#1d1d1b;
    font-size:18px;
    font-family:Arial;
    padding-top:3px;
    padding-left:23px;
    padding-right:23px;
    height:45px;
    overflow:auto
}

.content .kataggelies .grid .incidents .incident_footer {
    color:#999999;
    font-size:10px;
    font-family:Arial;
    padding-top:13px;
    padding-left:23px
}
.content .kataggelies .grid .jspDrag{opacity: 1;filter:alpha(opacity=100);background:#009fe3}

.content .goodnews .title{font-family:'Open Sans', sans-serif;font-size:25px;color:White;background-color:#009fe3;line-height:40px;padding-left:23px;width:617px;margin-right:20px;float:left}
.content .goodnews .title-small{font-family:'Open Sans', sans-serif;font-size:18px;color:White;line-height:43px;float:left;width:233px;height:54px}
.content .goodnews .grid-bg{background-image:url('goodnews/smalltitle.png');background-repeat:no-repeat;}
.content .goodnews .grid-bg a{padding-left:12px}
.content .goodnews .grid {width:651px;height:500px;overflow-x:hidden;float:left;padding-right:3px;margin-right:4px}
.content .goodnews .grid .incidents{width:640px;height:106px;background-color:#f7f7f7;margin-bottom:23px}
.content .goodnews .grid .incidents .categories{color:#009fe3;font-size:13px;font-family:Arial;padding-top:13px;padding-left:23px}
.content .goodnews .grid .incidents .categories a{color:#009fe3;font-size:13px;font-family:Arial;text-decoration:none}
.content .goodnews .grid .incidents .descr{color:#1d1d1b;font-size:18px;font-family:Arial;padding-top:3px;padding-left:23px;padding-right:23px;height:45px;overflow:hidden}
.content .goodnews .grid .incidents .footer{color:#999999;font-size:10px;font-family:Arial;padding-top:13px;padding-left:23px}
.content .goodnews .grid .jspDrag{opacity: 1;filter:alpha(opacity=100);background:#009fe3}

.content .goodnews .topten{float:left}
.content .goodnews .topten .box{float:left;background-image:url('goodnews/toptenbox.png');background-repeat:no-repeat;width:38px;height:39px;font-family:'Open Sans', sans-serif;font-size:21px;line-height:38px;text-align:center;color:White;margin-bottom:7px}
.content .goodnews .topten .holder{float:left;width:190px;height:39px;background-image:url('goodnews/toptenholder.png');background-repeat:no-repeat;margin-left:7px;margin-bottom:7px}
.content .goodnews .topten .holder h1{color:#1d1d1b;font-family:Arial;font-size:15px;padding:0px;margin:0px;font-weight:bold}
.content .goodnews .topten .holder h2{color:#999999;font-family:Arial;font-size:10px;padding:0px;margin:0px;font-weight:normal}

.protimediafora{}
.protimediafora .box{float:left;background-image:url('protimediafora/box.png');background-repeat:no-repeat;width:50px;height:53px;font-family:'Open Sans', sans-serif;font-size:21px;line-height:53px;text-align:center;color:White;margin-bottom:7px}

.protimediafora .descr{float:left;margin-right:4px;margin-left:8px;margin-bottom:7px}
.protimediafora .descr .rpt{float:left;background-image:url('protimediafora/center.png');background-repeat:repeat-x;width:684px;height:53px;}
.protimediafora .descr .rpt h1{color:#1d1d1b;font-family:Arial;font-size:18px;padding:0px;margin:0px;font-weight:bold}
.protimediafora .descr .rpt h2{color:#999999;font-family:Arial;font-size:10px;padding:0px;margin:0px;font-weight:normal}
.protimediafora .given {float:left;background-image:url('protimediafora/center.png');background-repeat:repeat-x;width:147px;height:53px;line-height:53px;text-align:center;font-family:'Open Sans', sans-serif;font-size:24px;color:black;margin-bottom:7px}
.protimefiafora-header{padding-top:20px}
.protimefiafora-title{width:146px;height:54px;background-image:url('protimediafora/title.png');background-repeat:no-repeat;margin-top:-25px;position:absolute;margin-left:750px;text-align:center;line-height:40px}
.protimefiafora-title a{font-family:'Open Sans', sans-serif;font-size:18px;color:White;padding: 0px  0px 0px 30px;}

.exeisymvikaisemena .diafthora{width:382px;text-align:right;padding-top:60px;}
.exeisymvikaisemena .diafthora img{cursor:pointer}
.exeisymvikaisemena .tick{position:absolute;margin-top:205px;margin-left:-62px;display:none}
.exeisymvikaisemena .or{width:132px;text-align:center;padding-top:170px}
.exeisymvikaisemena .peristatiko{width:382px;text-align:left;padding-top:60px}
.exeisymvikaisemena .peristatiko img{cursor:pointer}
.exeisymvikaisemena .next-left{width:290px;text-align:right;padding-top:20px;height:34px}
.exeisymvikaisemena .next-right{width:410px;text-align:right;padding-top:20px;height:34px}

.exeisymvikaisemena .next-left img{display:none}
.exeisymvikaisemena .next-right img{display:none}

.diafthora{padding-top:45px}
.diafthora .box{width:280px;height:250px;background-color:#f1f1f1;float:left;margin-right:16px;margin-bottom:16px;}
.diafthora .box-big{width:576px;height:240px;background-color:#f1f1f1;float:left;margin-bottom:16px;}

.diafthora .box-thin {
    width: 270px;
    height: 40px;
    background-color: #f1f1f1;
    float: left;
    margin-right: 16px; 
    margin-bottom: 16px;
    padding-top: 10px;
    padding-left: 10px;
}

.diafthora .dtm{background-image:url('diafthora/dtm.png');background-repeat:no-repeat;background-position:center center}
.diafthora .dtm-ddl-holder{padding-top:200px}
.diafthora .dtm-ddl-holder .dll{padding-left:10px}


.diafthora .category{background-image:url('diafthora/category.png');background-repeat:no-repeat;background-position:center center}
.diafthora .category-ddl-holder{padding-top:200px}
.diafthora .category-ddl-holder .dll{padding-left:10px}

.diafthora .public-entity{background-image:url('diafthora/place.png');background-repeat:no-repeat;background-position:center top}
.diafthora .public-entity-ddl-holder{padding-top:200px}
.diafthora .public-entity-ddl-holder .dll{padding-left:5px}
.diafthora .public-entity-ddl-holder .dll .field .ui-autocomplete-input {width: 250px;margin-left:5px;}

.diafthora .money{background-image:url('diafthora/money.png');background-repeat:no-repeat;background-position:center top}
.diafthora .money-ddl-holder{padding-top:155px;padding-left:13px}
.diafthora .money-ddl-holder .moneytxt{background-image:url('diafthora/moneybg.png');background-repeat:no-repeat;width:250px;height:33px;margin-bottom:10px}
.diafthora .money-ddl-holder .moneytxt input{width:200px;margin-left:40px;height:26px;line-height:26px;background:transparent;border:0px;margin-top:2px}

.diafthora .money-ddl-holder .moneytxt-error{background-image:url('diafthora/moneybgerror.png');background-repeat:no-repeat;width:250px;height:33px;margin-bottom:10px}
.diafthora .money-ddl-holder .moneytxt-error input{width:200px;margin-left:40px;height:26px;line-height:26px;background:transparent;border:0px;margin-top:2px}


.diafthora .comments{background-image:url('diafthora/comments.png');background-repeat:no-repeat;background-position:center top}
.diafthora .comments-ddl-holder{padding-top:85px;padding-left:10px}
.diafthora .comments-ddl-holder .commentstxt{background-image:url('diafthora/textarea.png');background-repeat:no-repeat;width:260px;height:124px;margin-bottom:3px}
.diafthora .comments-ddl-holder .commentstxt textarea{width:246px;height:108px;margin:4px;outline:none;border:0px}

.diafthora .moderator-public-comment-holder {
    padding-top: 12px;
    padding-left: 10px
}

.diafthora .moderator-public-comment-holder .commentstxt {
    background-image: url('diafthora/textarea.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 124px;
    margin-bottom: 3px
}

.diafthora .moderator-public-comment-holder .commentstxt textarea {
    width: 246px;
    height: 108px;
    margin: 4px;
    outline: none;
    border:0px
}

.diafthora .moderator-public-comment-holder .sub-text {
    font-family: Arial;
    font-style: italic;
    font-size: 11px;
    color: #8c8b8b;
    line-height: 12px;
    /* padding-top: 8px; */
}


.diafthora .comments-ddl-holder .commentstxt-error{background-image:url('diafthora/textareaerror.png');background-repeat:no-repeat;width:260px;height:124px;margin-bottom:3px}
.diafthora .comments-ddl-holder .commentstxt-error textarea{width:246px;height:108px;margin:4px;outline:none;border:0px}

.diafthora .comments-ddl-holder .sub-text{font-family:Arial;font-style:italic;font-size:11px;color:#8c8b8b;line-height:12px}

.diafthora .comments-ddl-holder .commentstxt-big{background-image:url('diafthora/textarea-big.png');background-repeat:no-repeat;width:558px;height:131px;margin-bottom:3px}
.diafthora .comments-ddl-holder .commentstxt-big textarea{width:542px;height:108px;margin:4px;outline:none;border:0px}

.diafthora .comments-ddl-holder .commentstxt-big-error{background-image:url('diafthora/textarea-bigerror.png');background-repeat:no-repeat;width:558px;height:131px;margin-bottom:3px}
.diafthora .comments-ddl-holder .commentstxt-big-error textarea{width:542px;height:108px;margin:4px;outline:none;border:0px}


.diafthora .bottom{
    margin-top: 3px;
    width: 390px;
    height:70px;
    background-color:#f1f1f1;
    margin-left: 230px;
}

.diafthora .bottom .txt{float:left;background-image:url('diafthora/text.png');background-repeat:no-repeat;width:260px;height:33px;margin-top:17px}
.diafthora .bottom .txt input{width:250px;height:26px;line-height:26px;background:transparent;border:0px;margin-top:2px;margin-left:3px}

.diafthora .bottom .txt-error{float:left;background-image:url('diafthora/texterror.png');background-repeat:no-repeat;width:260px;height:33px;margin-top:17px}
.diafthora .bottom .txt-error input{width:250px;height:26px;line-height:26px;background:transparent;border:0px;margin-top:2px;margin-left:3px}

.diafthora .box{width:280px;height:250px;background-color:#f1f1f1;float:left;margin-right:16px;margin-bottom:16px;}

.diafthora .actions {
    width: 280px;
    height: 250px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    padding-top: 32px;
    padding-left: 16px;
}

.diafthora .back-btn{
    float: left;
    padding-top: 20px;
}

.diafthora .bottom .submit-btn {
    float: left;
    padding-top: 20px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 11px;
    font-family: Arial;
    font-style: italic;
    color:#8c8b8b
}

.Cloud{width:189px;height:52px;background-image:url('diafthora/cloud.png');background-repeat:no-repeat;font-size:11px;color:#a1a1a2;font-weight:bold;font-family:Arial;position:absolute;text-align:center;line-height:40px;}

.popupMain{width:100%;text-align:center;background-image:url('global/black.png');margin:-30px 0px 0px -10px;display:none;position:absolute;z-index:100}
.popup{width:571px;height:492px;background-color:White;margin-left:auto;margin-right:auto;margin-top:220px}
.popup .readmore{font-family:'Open Sans', sans-serif;font-size:16px;color:#009fe3;font-weight:bold;line-height:54px;height:52px;margin-top:44px;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5}
.popup .readmore .stars{float:left;padding-top:3px;padding-left:10px;padding-right:10px}
.popup .readmore .txt{text-align:center;float:left;}
.popup-close{text-align:right;padding-right:20px;padding-top:10px;margin-bottom:-20px}
.popup-close img{cursor:pointer}


.popup-holder{width:550px;height:360px;overflow-x:hidden;margin:10px;font-family:Arial;font-size:12px;color:#010100;text-align:left;line-height:18px;}

.popup-holder .jspDrag{opacity: 1;filter:alpha(opacity=100);background:#009fe3}

.errormessage{color:#e9292a;font-weight:bold;font-family:Arial;font-size:13px;text-align:center;padding:10px;display:none}

.diafthora .map-ddl-holder .map{padding:10px}
.diafthora .map-ddl-holder .dll{padding-left:5px}

#map_canvas {
    height: 178px;
    width: 260px;
}

.textbox_like_label {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    border:0px;
    visibility:hidden;
}

#where_it_happens_map_container {
    width: 700px;
}

#where_it_happens_map_canvas {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 700px;
    height: 700px;
}

.map_text_field input {
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    height: 26px;
    line-height: 26px;
    margin-left: 3px;
    margin-top:2px;
    width:250px;
}
    
.map_text_field {
    float: left;
    background-image: url('diafthora/text.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 33px;
    margin-left: 10px;
}

.sidebar {
    margin: 0px auto;
    position: relative;
    padding-top:0px;
    width:200px;
    float:right;
    background-color: #f7f7f7;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0;
}

.sidebar ul li a {
    display: block;
    border-radius: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color:  #009fe3;
    padding-left: 1em;
    color: #fff;
    text-decoration: none;
    width: 60%;
}

.sidebar ul li a:hover {
    background-color: #0092d7;
    color: #fff;
}

.searchinput {
    background-image: url('diafthora/text.png');
    background-repeat: no-repeat;
    background-position: center top;
    width: 241px;
    height: 30px;
    outline: none;
    border: 0px;
}

.approval_status_select {
    height: 4em;
}

.approval_status_pending {
    font-weight: bold;
    color: red;
}