/#mainTabs
/  %ul
/    %li.active
/      =link_to "ASK", new_question_path
/    %li
/      =link_to "ANSWER", random_questions_path
/    %li
/      =link_to "SEARCH", search_index_path

/  %section#questions
/    =image_tag("pregunta-icon-big.png")
/    =render "shared/quick_question_box"
/  .clear
