%nav
  %ul.content-tabs
    %li.questions
      = pjax_link_to t('layouts.application.questions'), "index", url_for(questions_link)
    %li.badges
      = link_to t('layouts.application.badges'), badges_path, :class => "pjax", :"data-layout" => "badges", :rel => 'nofollow'
    %li.users
      =link_to t('layouts.application.users'), users_path
    %li.tags
      = link_to t('layouts.application.tags'), tags_path, :class => "pjax", :"data-layout" => "tags"

    %li.activities
      = pjax_link_to t('activerecord.models.activity'), "index", activities_path('context' => (params[:context]||params[:action])), :rel => 'nofollow'

