-opts = (local_assigns[:opts]||{}).merge({:class => "textarea"})

-if local_assigns[:markdown]
  -if current_group.wysiwyg_editor
    -opts[:class] = "wysiwyg_editor"
    -opts[:value] = markdown(f.object.body)
  -else
    -opts[:class] = "markdown_editor"

.field.editor
  .markdown
    = f.text_area local_assigns.fetch(:field, :body), opts
  -if local_assigns[:markdown] && !current_group.wysiwyg_editor
    .markdown_preview


