%div{:data => {:role => "page"}}
  %div{:"data-role"=>"header", :"data-theme"=>"d", :"data-position"=>"inline"}
    %h1
      =@user.name || @user.login
    =render "shared/mobile/header_actions"

  %div{:data => {:role => "content"}}
    %ul{:data => {:role => "listview", :filter => "true", :"data-inset"=>"true"}}
      %li{:"data-role"=>"list-divider"}
        Questions
        %span{:class=>"ui-li-count"}
          =@resources.count
      -@resources.each do |question|
        %li
          = link_to question.title, question_path(question, :format => "mobile")
          -if question.closed
            [closed]
          -if question.answered
            [answered]

          %a{:href=>question_path(question, :format => "mobile", :actions => true), :"data-rel" => "dialog", :"data-transition" => "flip", "data-icon" => "gear"}
            actions

          %span{:class=>"ui-li-count"}
            =question.answers_count
            answers
