.answer-body
  =link_to answer.user.display_name, user_path(answer)
  .markdown
    =find_and_preserve(shapado_auto_link(markdown(answer.body), :link_users => true))
  .small-info
    %time{:pubdate => "pubdate", :datetime => answer.created_at.iso8601}
      =t("time.ago", :time => time_ago_in_words(answer.created_at))
    ·
    =link_to "+", "#", :class => "vote_answer_up require_login"
    =link_to "-", "#", :class => "vote_answer_down require_login"
    ==#{answer.votes_average}/#{answer.votes_count} votes
    ·
    =link_to "view more...", question_answer_url(question, answer), :target => "_blank", :rel => "external"
