.module.clearfix.widget.block{:class => 'widget-group_networks'}
  = render "widgets/header", :widget => widget
  %aside
    %ul
      -widget.networks.each do |name, data|
        %li
          = link_to "", "http://#{data["url"]}", :class => name, :rel => "nofollow"
      %li
        - feed_urls.each do |title, url|
          %a{:href => url}
            =image_tag "rss.png"
