set :application, "shapado"
set :asset_packager, "jammit"

task :production do |t|
  set :repository, "git://github.com/ricodigo/shapado.git"
  set :branch, "origin/master"
  set :rails_env, :production
  set :unicorn_workers, 1
  role :web, "your-server.com"
  role :app, "your-server.com"
  role :db,  "your-server.com", :primary => true
end

namespace :deploy do
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "echo '#{`git describe`}' > #{current_path}/public/version.txt"
    run "cd #{current_path} && ln -sf #{shared_path}/config/auth_providers.yml #{current_path}/config/auth_providers.yml"

    assets.compass
    assets.package

    #magent.restart
    bluepill.restart

    run "rm -rf #{current_path}/tmp/cache/*"
  end
end

require 'ricodigo_capistrano_recipes'

set(:websocket_remote_config) { "#{shared_path}/config/pills/websocket.pill"}
namespace :websocket do
  desc "setup websocket pill"
  task :setup do
    generate_config("#{File.dirname(__FILE__)}/pills/websocket.pill.erb", websocket_remote_config)
  end

  desc "Init websocket with bluepill"
  task :init do
    rvmsudo "bluepill load #{websocket_remote_config}"
  end

  desc "Start websocket with bluepill"
  task :start do
    rvmsudo "bluepill websocket start"
  end

  desc "Restart websocket with bluepill"
  task :restart do
    websocket.stop
    websocket.start
  end

  desc "Stop websocket with bluepill"
  task :stop do
    rvmsudo "bluepill websocket stop"
  end

  desc "Display the bluepill status"
  task :status do
    rvmsudo "bluepill websocket status"
  end

  desc "Stop websocket and quit bluepill"
  task :quit do
    rvmsudo "bluepill websocket stop"
    rvmsudo "bluepill websocket quit"
  end
end

