-if !@question.new_record?
  = render "attachments", :question => @question, :attachments => @question.attachments, :editing => true
#attachments
  #fields
    .attachment_field.template
      = f.file_field "attachments[0]"
      = link_to t('.remove_attachment'), "#", :class => "remove_attachment"
  = link_to t('.add_attachment'), "#", :class => "add_attachment"