
-if local_assigns[:markdown] && !current_group.wysiwyg_editor
  =markdown(@question.body)
  = f.label :body, t(:body, :scope => "activerecord.attributes.question"), :class => "label", :for =>"editor"

-if current_group.wysiwyg_editor
  = f.text_area :body, :class => "text_area wysiwyg_editor", :value => markdown(@question.body)
-else
  = f.text_area :body, :class => "text_area markdown_editor"

  .markdown_preview.markdown
    =markdown(@question.body)