-if @original_question
  .follow-up-msg
    %p
      =t("questions.show.follow_up_of")
      =link_to @original_question.title, question_path(@original_question), :target => "_blank"

  -if @original_answer
    %em
      =@original_answer.body
    = hidden_field_tag :original_answer_id, @original_answer.id

  = hidden_field_tag :original_question_id, @original_question.id
